/* Reset global css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background: linear-gradient(292.92deg, #e6e6e4 7.23%, #f0e8e2 97.74%);
}

.container {
  padding: 0 120px;
  max-width: 1512px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  margin-bottom: 80px;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 52px;
}

.header-logo span {
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
}

.nav-item a {
  text-decoration: none;
  color: #1f1d2a;
  font-size: 16px;
  font-weight: 500;
}

.nav-item.active {
  position: relative;
}
.nav-item.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: #1f1d2a;
  bottom: -6px;
  left: 0;
}

.header-cta-btn {
  padding: 10px 0;
  width: 110px;
  border-radius: 6px;
  border: 1px solid #1f1d2a;
  outline: none;
}

/*Hero*/
.hero {
  display: flex;
  justify-content: center;
  gap: 80px;
}
.hero-info {
  width: 50%;
}
.hero-img {
  width: 50%;
}

.hero-img-wrapper {
  width: 500px;
  height: 500px;
}
.hero-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.hero-info-heading {
  font-weight: 600;
  font-size: 55px;
  line-height: 82px;
  color: #1f1d2a;
  margin-bottom: 30px;
}

.hero-info-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #9b948e;
  margin-bottom: 50px;
}

.hero-info-cta {
  padding: 20px 16px;
  border: none;
  outline: none;
  background: #96c67f;
  border-radius: 6px;
  width: 170px;
}

.partner {
  margin: 40px auto;
}
.partner-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin-bottom: 30px;
}

.partner-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.partner-item {
  height: 30px;
  width: auto;
}
.partner-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#courses {
  margin-top: 80px;
  margin-bottom: 64px;
}

#courses h2 {
  margin-bottom: 40px;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.course-item {
  width: calc(25% - 24px);
  border-radius: 16px;
  background: #ffffff;
  overflow: hidden;
}

.course-item img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}
.course-item .course-info {
  padding: 24px;
}
.course-item h5 {
  color: #1f1d2a;
  margin: 8px 0 16px 0;
  font-size: 24px;
}

.course-item p {
  font-size: 14px;
}

.add-course-btn {
  border: none;
  outline: none;
  padding: 8px 10px;
  background: #0d6efd;
  color: white;
  border-radius: 8px;
  opacity: 1;
  transition: all 0.3s;
}
.add-course-btn:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 1024px) {
  .container {
    padding: 0 68px;
  }
  .partner-list {
    gap: 24px;
    flex-wrap: wrap;
  }
  .partner-item {
    width: calc(100% / 3 - 48px);
    height: auto;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    padding: 0 40px;
  }
  .partner-list {
    gap: 40px;
    flex-wrap: wrap;
  }
  .partner-item {
    width: calc(50% - 40px);
    height: auto;
  }
}
